/* Formatea las imagenes en el mismo tamaño */
.carousel-inner > .carousel-item > img {
  object-fit: fill;
  width: 100%;
  height: auto;
}

/* Media querys para ajustar las imagenes segun la pantalla */
@media screen and (max-width: 300px) {
  #carousel {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .carousel-inner > .carousel-item > img {
    object-fit: contain;
  }
}

.datos {
  align-items: center;
  color: #adb5bd; /* El gris de bootstrap ($gray-500) */
}

.negocio {
  display: flex;
  flex-direction: column;
}

.titulo {
  /*El color lo va a heredar al igual que su posición
    y fuente asique sólo le pongo un subrayado.*/
  text-decoration: underline;
}

.ubicacion {
  display: flex;
}

.descripcion {
  text-align: left;
}

.map {
  min-width: 40%;
}

.footer {
  background-color: dimgrey;
}

.form-container {
  display: flex;
  justify-content: center;
}

.formulario {
  margin: 20%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Repite 3 veces, 3 columnas que ocupan un espacio cada una */
  grid-template-rows: repeat(4, 1fr); /* Repite 3 veces, 3 filas que ocupan un espacio cada una */
  grid-template-areas: 
    "a nombre b"
    "c apellido d"
    "e mail f"
    "g boton h";
  gap: 1rem 2rem;
}

.input {
  text-align: center;
  outline: 0;
  border-width: 0 0 0px; /* 0px cambia desde el js */
  border-color: black;
  padding: 10px;
  background-color: #212529;
}

#nombre {
  grid-area: nombre;
}

#apellido {
  grid-area: apellido;
}

#mail {
  grid-area: mail;
}

#boton {
  border-style: hidden;
  grid-area: boton;
  margin-left: 25%;
  max-width: 50%;
}

@media screen and (max-width: 250px) {
  .formulario {
    display: none;
  }
}