html {
  font-size: 10px;
}

body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(34, 40, 49);
}

/*      Menu superior      */

.menu {
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
}

.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: rgb(209, 209, 209);
  font-size: 3rem;
  font-weight: 800;
}

.menu a:hover {
  color: rgb(214, 90, 49);
}

/*      Title      */

.title {
  color: rgb(209, 209, 209);
  font-size: 4rem;
  text-align: center;
  font-weight: 600;
  animation: title-animation 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes title-animation {
  0% {
    letter-spacing: 1rem;
    font-size: 1rem;
    color:rgb(214, 90, 49);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
    color:rgb(214, 90, 49);
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/*      Containers      */

.container {
  margin: 0rem 1rem 0rem 1rem;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
}

.entry {
  margin-top: 2rem;
  width: 100vw;
  font-size: 1.7rem;
  color: rgb(209, 209, 209);
}

.entry a {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 800;
  color: rgb(209, 209, 209);
}

.entry a:hover {
  color: rgb(214, 90, 49);
}

.date {
  font-size: 1.3rem;
  color: rgb(57, 62, 70);
  text-align: right;
  margin-right: 1rem;
}

.code {
  padding: 1rem 1rem 1rem 1rem;
  font-family: 'Roboto Mono', monospace;
  background-color: rgb(54, 64, 78);
  
  border-radius: 20px;
  width: 85vw;
  overflow: auto;
  white-space: nowrap;
}